@use 'variables' as *;

@mixin form-field-label {
    font-size: 14px;
    font-weight: 600;
    color: $color-dark;
}

@mixin form-field-base {
    padding: 11px 14px;
    border: 1.5px solid $color-light;
    border-radius: 6px;
    font-size: 14px;
    font-family: $font-body;
    color: $color-dark;
    outline: none;
    transition: border-color 0.2s;

    &:focus {
        border-color: $color-primary;
    }

    &--error {
        border-color: $color-danger;

        &:focus {
            border-color: $color-danger;
        }
    }
}

@mixin form-field-error-text {
    font-size: 12px;
    color: $color-danger;
}
