// colors
$color-primary: #ff6310;
$color-primary-light: #fd7c47;
$color-dark: #111518;
$color-gray: #687279;
$color-light: #E9EBEC;
$color-lighter: #F4F5F6;
$color-lightest: #f8f9fa;
$color-white: #ffffff;
$color-danger: #e53e3e;

// fonts
$font-body: 'Figtree', sans-serif;
$font-heading: 'Montserrat', sans-serif;
$font-lato: 'Lato', sans-serif;

// layout
$container-max: 1200px;
$container-pad: 20px;
